<div class="container-flex">
  <div class="p-5 col col-md-12">
    <h2 class="text-center p-3">About Rob</h2>
    <!--About Accordion-->
    <mdb-accordion>
      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>What do you shoot?</ng-template>
        <ng-template mdbAccordionItemBody>
          I shoot portraits and adventure trips. Invite me as your personal
          photographer on your next group hike, exotic cruise, or ski trip!
          <br /><br />
          With over 10 years of experience, you can trust me to the get the
          perfect shot for you.
        </ng-template>
      </mdb-accordion-item>
      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>Where have you shot?</ng-template>
        <ng-template mdbAccordionItemBody>
          Atlanta. California. Ireland. Scotland. Japan.
          <br /><br />
          These are just a few shoots on-location. Explore my favorites
          <a href="https://robertjames.photos">here.</a>
        </ng-template>
      </mdb-accordion-item>
      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader
          >How would you describe your style?</ng-template
        >
        <ng-template mdbAccordionItemBody>
          Cinematic candids. My style is bound to make you feel like you're in a
          movie.
        </ng-template>
      </mdb-accordion-item>

      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>
          Who are your typical customers?</ng-template
        >
        <ng-template mdbAccordionItemBody>
          Fashion models, couples, and adventurers who want their portraits and
          excursion documented with a unique look and perspective.
        </ng-template>
      </mdb-accordion-item>
      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>
          Where can I see more of your pictures?</ng-template
        >
        <ng-template mdbAccordionItemBody>
          View my complete collection and buy prints at
          <a href="https://robertjames.photos">robertjames.photos</a>
        </ng-template>
      </mdb-accordion-item>
    </mdb-accordion>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="col-md-2">
    <div class="row mb-4">
      <div class="col">
        <a
          class="btn btn-primary btn-block mb-4 p-3"
          href="/Contact"
          role="button"
        >
          Ask me more questions
        </a>
      </div>
    </div>
  </div>

  <!--
<div class="p-5">
  <div class="col-sm-4 col-md-12 d-flex">
    <img
      src="https://d1mvkgd75mydej.cloudfront.net/portrait-bw.jpg"
      class="img-thumbnail img-fluid w-50"
      alt="..."
    />
  </div>
</div>
--></div>
