<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div
            class="bg-image hover-overlay ripple shadow-2-strong"
            data-mdb-ripple-color="light"
          >
            <img
              src="https://d1mvkgd75mydej.cloudfront.net/portrait-bw.jpg"
              class="img-fluid"
              alt="Portrait of Rob James"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h2><strong>Meet your new photographer.</strong></h2>

          <p>
            My mission is black and white: Be nice, passionate, and timely.
            <br /><br />
            That's the RJ way. I know it's corny, but let me have this one.
          </p>
          <br />

          <!--FAQ-->
          <ul>
            <h3 class="text-center">Frequently Asked Questions</h3>
            <br />
            <a
              class="btn btn-dark d-flex justify-content-center align-items-center"
              data-bs-toggle="collapse"
              href="#events"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              What do you shoot?
            </a>
            <div class="collapse" id="events">
              <div class="card card-body">
                Weddings, engagements, baby showers, graduation photos,
                work/holiday parties, hotdog eating contests. You know, the
                ususal.
              </div>
            </div>
            <br />

            <a
              class="btn btn-dark d-flex justify-content-center align-items-center"
              data-bs-toggle="collapse"
              href="#style"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              How would you describe your style?
            </a>
            <div class="collapse" id="style">
              <div class="card card-body">Cinematic candids.</div>
            </div>
            <br />

            <a
              class="btn btn-dark d-flex justify-content-center align-items-center"
              data-bs-toggle="collapse"
              href="#choice"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Are you the photographer for me?
            </a>
            <div class="collapse" id="choice">
              <div class="card card-body">Yes.</div>
            </div>
            <br />

            <a
              class="btn btn-dark d-flex justify-content-center align-items-center"
              data-bs-toggle="collapse"
              href="#customer"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Who is your typical customer?
            </a>
            <div class="collapse" id="customer">
              <div class="card card-body">
                My core customers are families, individuals, and event planners
                that are hosting parties, large or small, and celebrations. I
                especially love shooting engagements and baby showers/gender
                reveals because there's generally a certain element of surprise
                that makes for wonderful facial expressions. And most people
                these days do these events at nice locations, so it makes the
                job that much easier.
              </div>
            </div>
            <br />

            <!-- Submit button -->
            <a
              class="btn btn-primary btn-block mb-5"
              href="/Contact"
              role="button"
            >
              Contact
            </a>

            <!--Section: Content-->
          </ul>
        </div>
      </div>
    </section>
  </div>
</main>
