<div class="container-fluid">
  <div class="d-flex p-2">
    <div class="row row-cols-1 row-cols-md-1 g-4">
      <div class="col">
        <div class="card">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/DSC06317.jpg"
            class="card-img-top"
            alt="Japanese cemetery headstone"
          />
          <div class="card-body">
            <h4 class="card-title">Japanese Cemetery Headstone</h4>
            <h6 class="card-subtitle">Sasebo, Japan</h6>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/DSC02726.png"
            class="card-img-top"
            alt="Sticker art on a wall in Tokyo"
          />
          <div class="card-body">
            <h4 class="card-title">Tokyo Sticker Art</h4>
            <h6 class="card-subtitle">Tokyo, Japan</h6>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/DSC06500.jpg"
            class="card-img-top"
            alt="Flowers in Japan"
          />
          <div class="card-body">
            <h4 class="card-title">Tenkhaio Park</h4>
            <h6 class="card-subtitle">Sasebo, Japan</h6>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/DSC09531.jpg"
            class="card-img-top"
            alt="Snow in Japan"
          />
          <div class="card-body">
            <h5 class="card-title">Snow at Kuju</h5>
            <h6 class="card-subtitle">Kuju-Aso Mountain Range, Japan</h6>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/DSC09552.jpg"
            class="card-img-top"
            alt="Snow pathy in Japan"
          />
          <div class="card-body">
            <h4 class="card-title">Snowy Path</h4>
            <h6 class="card-subtitle">Kuju-Aso Mountain Range, Japan</h6>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/DSC09832.jpg"
            class="card-img-top"
            alt="Partly cloudy day at Japanese Mt Kuju"
          />
          <div class="card-body">
            <h4 class="card-title">Break in the Snow</h4>
            <h6 class="card-subtitle">Kuju-Aso Mountain Range, Japan</h6>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
