<div class="container-flex justify-content-center p-3">
  <section class="text-center">
    <!-- <h2 class="display-1 p-3">
      Gallery
      <small class="text-muted">samples</small> -->
    <!-- </h2> -->

    <div class="card-group">
      <div class="row justify-content-evenly p-3 g-3">
        <div class="d-flex align-items-start mb-3">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/DSC07682.jpg"
                class="card-img-top"
                alt="Holiday party"
              />
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Holiday Party</h5>
              <p class="card-text">Low light, high fun</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-evenly p-3 g-3">
      <div class="d-flex align-items-center mb-3">
        <div class="card h-100">
          <div
            class="bg-image hover-overlay ripple"
            data-mdb-ripple-color="light"
          >
            <img
              src="https://d1mvkgd75mydej.cloudfront.net/DSC06356.jpg"
              class="card-img-top"
            />

            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Kimono Portraiture</h5>
            <p class="card-text">Japan: the land of beauty</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-evenly p-3 g-3">
      <div class="d-flex align-items-end mb-3">
        <div class="card h-100">
          <div
            class="bg-image hover-overlay ripple"
            data-mdb-ripple-color="light"
          >
            <img
              src="https://d1mvkgd75mydej.cloudfront.net/RCJ06243.jpg"
              class="card-img-top"
            />
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nature & Landscapes</h5>
            <p class="card-text">The golden sun sets in beautiful California</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="d-flex p-2">
        <div class="row row-cols-1 row-cols-md-1 g-4">
          <div class="col">
            <div class="card">
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/DSC06317.jpg"
                class="card-img-top"
                alt="Japanese cemetery headstone"
              />
              <div class="card-body">
                <h4 class="card-title">Japanese Cemetery Headstone</h4>
                <h6 class="card-subtitle">Sasebo, Japan</h6>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/DSC02726.png"
                class="card-img-top"
                alt="Sticker art on a wall in Tokyo"
              />
              <div class="card-body">
                <h4 class="card-title">Tokyo Sticker Art</h4>
                <h6 class="card-subtitle">Tokyo, Japan</h6>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/DSC06500.jpg"
                class="card-img-top"
                alt="Flowers in Japan"
              />
              <div class="card-body">
                <h4 class="card-title">Tenkhaio Park</h4>
                <h6 class="card-subtitle">Sasebo, Japan</h6>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/DSC09531.jpg"
                class="card-img-top"
                alt="Snow in Japan"
              />
              <div class="card-body">
                <h5 class="card-title">Snow at Kuju</h5>
                <h6 class="card-subtitle">Kuju-Aso Mountain Range, Japan</h6>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/DSC09552.jpg"
                class="card-img-top"
                alt="Snow pathy in Japan"
              />
              <div class="card-body">
                <h4 class="card-title">Snowy Path</h4>
                <h6 class="card-subtitle">Kuju-Aso Mountain Range, Japan</h6>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/DSC09832.jpg"
                class="card-img-top"
                alt="Partly cloudy day at Japanese Mt Kuju"
              />
              <div class="card-body">
                <h4 class="card-title">Break in the Snow</h4>
                <h6 class="card-subtitle">Kuju-Aso Mountain Range, Japan</h6>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div class="container-flex p-5">
  <h3 class="display-5 text-center">
    See more at my
    <a href="https://www.robertjames.photos/">complete gallery.</a>
  </h3>
</div> -->



<div class="d-flex justify-content-center">
  <div class="col-md-2">
    <div class="row mb-4">
      <div class="col">
        <a
          class="btn btn-primary btn-block mb-4"
          href="/Contact"
          role="button"
        >
          Schedule your session today
        </a>