<div class="container-flex">
  <mdb-carousel [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="https://d1mvkgd75mydej.cloudfront.net/DSC06358.jpg"
        class="d-block w-100"
        alt="Robert James Photographer"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://d1mvkgd75mydej.cloudfront.net/DSC09528.jpg"
        class="d-block w-100"
        alt="Japanese kimono sakura cherry blossoms"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://d1mvkgd75mydej.cloudfront.net/DSC06507.jpg"
        class="d-block w-100"
        alt="Japanese field of flowers"
      />
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<br /><br />
<h2 class="display-1 text-center p-2">
  <strong>Passion. Precision.</strong>
</h2>
<div class="col-md-12 gx-3 mb-2">
  <p class="text-center">
    Photography doesn't have to be complicated. <br />
    But it does require perfection.
    <br /><br />
    That's how I Capture the Moment.
  </p>
</div>

<!--Main layout-->
<main class="mt-5">
  <div class="container-flex">
    <!--Section: Content-->
    <section>
      <div class="row justify-content-evenly p-3 g-3">
        <div class="col-sm-4 col-md-6 col-lg-6 d-flex">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/DSC00259.png"
            class="img-fluid modal-content rounded-3"
            alt="Baby shower portrait"
            height="500px"
            width="900px"
          />
        </div>
        <div class="col-sm-4 col-md-6 d-flex">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/RCJ04781.jpg"
            class="img-fluid modal-content rounded-3"
            alt="Couples portrait"
            height="600px"
            width="900px"
          />
        </div>
      </div>
      <br />
      <div class="container-flex">
        <h2 class="text-center p-1">
          <strong>See if I'm the best photographer for you.</strong>
        </h2>
        <div class="col-md-12 gx-5 mb-4">
          <p class="text-center">
            <br />
            Please take a look around the
            <a class="text-decoration-none" href="/Gallery">gallery</a>, <br />
            read more <a class="text-decoration-none" href="About">about me</a>,
            and <a class="text-decoration-none" href="/Contact">contact me</a>.
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <section class="mb-5">
      <h4 class="mb-3 text-center">
        <strong>Like what you see?</strong>
      </h4>
      <br />
      <div class="d-flex justify-content-center">
        <div class="col-md-2">
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <!-- Submit button -->
                <a
                  class="btn btn-primary btn-block mb-4"
                  href="/Contact"
                  role="button"
                >
                  Let's get started
                </a>
                <br />
                <!-- Footer -->
                <footer>
                  <!-- Copyright -->
                  <div class="footer-copyright text-center py-3">
                    © 2022 Copyright: Robert James
                  </div>
                  <!-- Copyright -->
                </footer>
                <!-- Footer -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
