<div class="container-flex">
  <mdb-carousel [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="https://d1mvkgd75mydej.cloudfront.net/DSC06358.jpg"
        class="d-block w-100"
        alt="Robert James Photographer"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://d1mvkgd75mydej.cloudfront.net/DSC09528.jpg"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://d1mvkgd75mydej.cloudfront.net/DSC06507.jpg"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<br /><br />
<h2 class="text-center">
  <strong>Passion. Precision.</strong>
</h2>
<div class="col-md-12 gx-5 mb-4">
  <p class="text-center">
    Photography doesn't have to be complicated. <br />
    But it does have to be perfect.
  </p>
</div>

<!--Main layout-->
<main class="mt-5">
  <div class="container-flex">
    <!--Section: Content-->
    <section>
      <div class="row justify-content-evenly p-5 g-3">
        <div class="col-sm-4 col-md-6 d-flex">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/DSC00259.png"
            class="img-fluid"
            alt="Baby shower portrait"
            height="500px"
            width="900px"
          />
        </div>
        <div class="col-sm-4 col-md-6 d-flex">
          <img
            src="https://d1mvkgd75mydej.cloudfront.net/RCJ04781.jpg"
            class="img-fluid"
            alt="Couples portrait"
            height="600px"
            width="900px"
          />
        </div>
      </div>
      <br />
      <h2 class="text-center p-1"><strong>Moments: Captured.</strong></h2>
      <div class="col-md-12 gx-5 mb-4">
        <p class="text-center">
          Whether it's a wedding, birthday party or outdoor trip, I will capture
          <del>our</del> your perfect candid moment. <br /><br />

          See if I'm the best photographer for you. <br /><br />
          Please take a look around the
          <a class="text-decoration-none" href="/Gallery">gallery</a>, <br />
          read more <a class="text-decoration-none" href="About">about me</a>,
          or go ahead and
          <a class="text-decoration-none" href="/Contact">contact me</a>.
        </p>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Recent favorites</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/DSC07682.jpg"
                class="img-fluid"
              />
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Holiday Party</h5>
              <p class="card-text">Low light, high fun</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/DSC06356.jpg"
                class="img-fluid"
              />

              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Kimono Portraiture</h5>
              <p class="card-text">Japan: the land of beauty</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://d1mvkgd75mydej.cloudfront.net/RCJ06243.jpg"
                class="img-fluid"
              />
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Nature & Landscapes</h5>
              <p class="card-text">
                The golden sun sets in beautiful California
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="mb-5">
      <h4 class="mb-3 text-center">
        <strong>Like what you see?</strong>
      </h4>

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <!-- Submit button -->
                <a
                  class="btn btn-primary btn-block mb-4"
                  href="/Contact"
                  role="button"
                >
                  Let's get started
                </a>

                <br />
                <!-- Footer -->
                <footer>
                  <!-- Copyright -->
                  <div class="footer-copyright text-center py-3">
                    © 2022 Copyright: Robert James
                  </div>
                  <!-- Copyright -->
                </footer>
                <!-- Footer -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
