<div class="container-flex">
  <mdb-carousel [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="https://d1mvkgd75mydej.cloudfront.net/DSC06358.jpg"
        class="d-block w-100"
        alt="Rob James Photographer"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://d1mvkgd75mydej.cloudfront.net/DSC09528.jpg"
        class="d-block w-100"
        alt="Japanese kimono sakura cherry blossoms"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://d1mvkgd75mydej.cloudfront.net/DSC06507.jpg"
        class="d-block w-100"
        alt="Japanese field of flowers"
      />
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<br /><br />
<h2 class="display-2 text-center p-2">
  <strong
    >Passion. <br />
    Personified.</strong
  >
</h2>
<div class="col-md-12 gx-3 mb-2">
  <p class="text-center">
    Photography doesn't have to be complicated. <br />
    But it does have to be passionate.
    <br /><br />
    That's how I Capture the Moment.
  </p>
</div>

<hr class="my-5" />

<!--Main layout-->
<main class="mt-5">
  <div class="container-flex">
    <!--Section: Gallery Selects-->
    <section>
      <div class="container-flex">
        <h2 class="text-center p-1">
          <strong>See if I'm your style.</strong>
        </h2>
      </div>

      <!--Gallery Accordion-->
      <div class="container-flex">
        <div class="p-5 col col-md-12">
          <mdb-accordion>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>PORTRAITURE</ng-template>
              <ng-template mdbAccordionItemBody>
                <img
                  src="https://d1mvkgd75mydej.cloudfront.net/DSC00259.png"
                  class="img-fluid modal-content rounded-3 p-1"
                  alt="Baby shower portrait"
                  height="500px"
                  width="900px"
                />
                <img
                  src="https://d1mvkgd75mydej.cloudfront.net/RCJ04781.jpg"
                  class="img-fluid modal-content rounded-3 p-1"
                  alt="Couples portrait"
                  height="600px"
                  width="900px"
                />
              </ng-template>
            </mdb-accordion-item>
            <!-- <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>ADVENTURE</ng-template>
              <ng-template mdbAccordionItemBody> </ng-template>
            </mdb-accordion-item>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>TRAVEL</ng-template>
              <ng-template mdbAccordionItemBody> </ng-template>
            </mdb-accordion-item> -->
          </mdb-accordion>
        </div>
      </div>
      <!-- End Gallery Accordion-->
    </section>
    <div class="col-md-12 gx-5 mb-4">
      <p class="text-center">
        <br />
        See the
        <a class="text-decoration-none" href="https://robertjames.photos/"
          >full gallery</a
        >
      </p>
    </div>

    <!--Section: Content-->

    <hr class="my-5" />

    <section class="mb-5">
      <h4 class="mb-3 text-center">
        <strong>Like what you see?</strong>
      </h4>
      <br />
      <div class="d-flex justify-content-center">
        <div class="col-md-2">
          <div class="row mb-4">
            <div class="col">
              <a
                class="btn btn-primary btn-block mb-4"
                href="/Contact"
                role="button"
              >
                Let's get started
              </a>
              <br />
              <!-- Footer -->
              <footer>
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">
                  © 2022 Copyright: Rob James Photography
                </div>
                <!-- Copyright -->
              </footer>
              <!-- Footer -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
